renpy-8.1.3-sdk/vscode/
renpy-8.1.3-sdk/tmp/
renpy-8.1.3-sdk/launcher/game/saves/
renpy-8.1.3-sdk/launcher/game/cache/
renpy-8.1.3-sdk/tutorial/game/saves/
renpy-8.1.3-sdk/tutorial/game/cache/
renpy-8.1.3-sdk/the_question/game/saves/
renpy-8.1.3-sdk/the_question/game/cache/
TaxiGame/game/saves/
TaxiGame/game/cache/

renpy-8.1.3-sdk/log.txt
renpy-8.1.3-sdk/tutorial/log.txt
renpy-8.1.3-sdk/the_question/log.txt
TaxiGame/log.txt
TaxiGame/errors.txt
TaxiGame/traceback.txt

*.rpyc
*.rpymc
*.pyc


